@charset "UTF-8";

@import
	url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap")
	;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* font-size: 10px; */
	/* 10px / 16px = 0.625 = 62.5% */
	/* Percentage of user's browser font-size setting */
	font-size: 62.5%;
}

body {
	font-family: "Inter", sans-serif;
	font: 400;
	line-height: 1;
	color: #555;
	background-color: #fff;
}

/* ********** */
/* HEADER */
/* ********* */
.heading {
	background: #222831;
	height: 7rem;
	padding: 1rem 1.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 5rem;
}

.heading-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

/* ************* */
/* SEARCH BAR */
/* ************* */
.search-bar {
	width: 30rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 7px;
}

.search-field {
	width: 100%;
	height: 3.8rem;
	font-size: 1.6rem;
	padding: 1.2rem;
	font-family: inherit;
	border: none;
	outline: none;
	color: #333;
}

.search-btn {
	width: 4.5rem;
	height: 4rem;
	background-color: #00adb5;
	text-align: center;
	border: none;
	cursor: pointer;
}

.search-btn:hover {
	background-color: #009ca3;
}

/* ****************************** */
/* Sign Up login and Cart style */
/* **************************** */
.search-btn-icon {
	width: 2.4rem;
	height: 2.4rem;
}

.heading-right a:link, .heading-right a:visited {
	font-size: 1.6rem;
	color: #fff;
	text-decoration: none;
	transition: all 0.2s;
}

.heading-right a:hover {
	color: #00adb5;
}

.heading-right-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
}

/* ************** */
/* Common class */
/* ************* */
.container {
	max-width: 120rem;
	padding: 0 1.2rem;
	margin: 0 auto;
}